* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

#app body{
    height: 100vh;
}

body{
    background: url(assets/bg.svg) no-repeat center center/cover;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}

#app {
    display: flex;
    align-content: center;

    padding: 10rem 10rem;
}

main{
    max-width: 23.75rem;
    color: #D6D6F2;
}

aside{
    display: flex;
    margin-left: 20px;
    
}


h1{
    font-size: 2.5rem;
    line-height: 120%;
}

p{
    margin-top: 1.5rem;
    font-size: 1.25rem;
    line-height: 140%;
    font-weight: 300;
}

.button-wrapper{
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0.75rem 1.5rem;

    background: #151557;
    border-radius: 62.4375rem;
    color: #e2e2f5;
    font-weight: 500;
    line-height: 140%;
    text-transform: lowercase;
}

.btn:hover{
    background: #212187;
}